.bouncy_walls {
	padding: 8px;

	.view {
		display: grid;
		overflow-x: auto;
		padding: 15px;
		border-radius: 8px;
		background-color: rgb(176, 176, 176);
		grid-auto-columns: 64px;
		grid-auto-rows: 64px;
		column-gap: 6px;
		row-gap: 6px;

		.cell {
			border-radius: 5px;
			box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, .35);
		}

		.cell_inner {
			border-radius: 5px;
			background: radial-gradient(farthest-corner at 70% 10%, rgb(248, 248, 248, .85), rgb(0, 248, 248, .0));
			width: 48px;
			height: 48px;
			margin: 8px;
		}

		.vacant_bg {
			background-color: rgb(208, 144, 0);
		}

		.wall_bg {
			background-color: rgb(96, 64, 0);
		}

		.pit_bg {
			background-color: rgb(32, 32, 0);
		}

		.water_bg {
			background-color: rgb(0, 96, 200);
		}

		.bouncy_wall_bg {
			background: linear-gradient(45deg, rgb(248, 0, 180), rgb(24, 24, 248), rgb(248, 0, 180));
		}
	}

	.input_area {
		padding: 16px 8px;

		textarea {
			margin: 12px 0px;
			font-family: 'Courier New', Courier, monospace;
			letter-spacing: 0.1em;
			font-size: 1.25em;
			min-width: 20em;
			resize: vertical;
		}

		select {
			margin: 13px 0;
			font-size: 1em;
			width: 10em;
		}

		table {
			tbody {
				th {
					text-align: left;
					padding: 0.5em 1.5em;
				}
			}

			pre {
				display: inline;
			}
		}
	}
}

textarea.error {
	border: 2px solid red;
	border-radius: 3px;
	box-shadow: 0 0 4px red;
}

textarea:focus.error {
	border: 2px solid red;
	border-radius: 3px;
	box-shadow: 0 0 4px red;
	outline: none;
}

code {
	display: inline-block;
	padding: 0.1em 0.25em;
	color: rgb(32, 32, 32);
	background-color: whitesmoke;
	border-radius: 3px;
	border: solid 1px darkgrey;
}

table {
	border-collapse: collapse;
	border: 2px solid grey;
	font-family: sans-serif;
	font-size: 0.8rem;
	letter-spacing: 1px;

	pre {
		margin: 0;
		padding: 4px
	}
}

thead,
tfoot {
	background-color: rgb(228, 240, 245);
}

th,
td {
	border: 1px solid rgb(192, 192, 192);
	padding: 4px 4px;
}

tbody>tr:nth-of-type(even) {
	background-color: rgb(250, 250, 250);
}